<%- include('./partials/header.ejs') %>

<% users.forEach(user => { %>
  <form action="/users" method="post" class="form edit-user">
  <h2 class="form__username title">Username</h2>
  <input type="text" name="username" autocomplete="off" required 
  class="form__input-username input"
  value="<%= user.username %>">
  <h3 class="form__password title">Password</h3>
  <input type="number" name="password" autocomplete="off" required 
  class="form__input-password input" minlength="8" onchange="toSubmit()"
  maxlength="16" value="<%= user.password %>"> 
  <h3 class="form__email title">Email</h3>
  <input type="email" name="email" autocomplete="off" required 
  class="form__input-email input"
  value="<%= user.email %>">
  <input type="hidden" name="userId" value="<%= user._id %>">
  <button type="button" onclick="toSubmit()" name="" 
  class="form__submit">Change User</button>
</form>
<%}) %>


<%- include('./partials/footer.ejs') %>